<div>
  <h2 class="text-3xl font-bold mb-8 bg-gradient-to-r from-white via-sky-500 to-slate-500 animate-text bg-clip-text text-transparent">Experiencia</h2>
  <div class="animated-border">
    <div class="bg-[#070a25] rounded-[8px] p-5 md:px-8 lg:px-11 md:py-7 lg:py-9 text-white">
      <div class="flex flex-col md:flex-row gap-4 justify-center items-center md:justify-start">
        <img src="assets/images/logos/secretaria.png" alt="Experiencia" class="max-h-16 w-fit" style="filter: brightness(200);">
        <div class="flex flex-col justify-center">
          <h3 class="md:text-lg lg:text-xl font-semibold text-sky-500">Desarrollador web</h3>
          <p class="text-lg"></p>
          <p class="text-sm font-thin">Julio, 2023 - Actualidad</p>
        </div>
      </div>
      <div class="text-white mt-4">
        <ul class="list-disc list-ouside ml-5 space-y-2 text-sm sm:text-medium">
          <li clas="text-blance text-wrap">Crear y mantener interfaces de usuario <span class="font-bold text-purple-300">atractivas</span> y <span class="font-bold text-purple-300">funcionales</span> utilizando HTML, CSS, JavaScript y Vue.js.</li>
          <li clas="text-blance text-wrap">Implementar y <span class="font-bold text-purple-300">mantener la lógica del servidor</span>, bases de datos, y APIs utilizando lenguajes como Node.js y Laravel.</li>
          <li clas="text-blance text-wrap">Garantizar que las aplicaciones web sean accesibles y amigables para el usuario.</li>
          <li clas="text-blance text-wrap">Colaborar con diseñadores, desarrolladores y otros miembros del equipo para garantizar la <span class="font-bold text-purple-300">coherencia</span> y la <span class="font-bold text-purple-300">calidad</span> del producto final.</li>
          <li clas="text-blance text-wrap">Realizar pruebas de rendimiento y depuración de aplicaciones web.</li>
          <li clas="text-blance text-wrap">Conectar aplicaciones con servicios externos mediante <span class="font-bold text-purple-300">APIs RESTful</span>.</li>
        </ul>
      </div>
    </div>
  </div>
</div>


