<div>
  <h2
    class="text-3xl font-bold mb-8 bg-gradient-to-r from-white via-sky-500 to-slate-500 animate-text bg-clip-text text-transparent"
  >
    {{ 'experience.title' | translate }}
  </h2>

  <div class="flex flex-col gap-8">
    @for(exp of experience(); track $index) {
      <experience-card
        [position]="exp.position"
        [company]="exp.company"
        [initDate]="exp.initDate"
        [endDate]="exp.endDate!"
        [functions]="exp.functions"
      />
    }
  </div>

</div>
