<div class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-0 text-center md:max-w-3xl">
  <div class="flex items-center">
    <img
      class="w-32 h-32 md:w-40 md:h-40 lg:h-48 lg:w-48 rounded-full shadow-lg shadow-blue-500/30"
      src="../../../../assets/images/1183773.png"
      alt="profile"
    >
  </div>
  <div class="md:-ml-5 md:col-span-2 text-left">
    <h1 class="text-3xl md:4xl lg:text-5xl font-bold">Hola, <span class="text-sky-400 text5xl">soy Misael</span></h1>
    <p class="md:text-xl lg:text-2xl mb-5 mt-2 font-bold bg-gradient-to-r from-blue-500 via-purple-500 to-blue-500 animate-text bg-clip-text text-transparent">Desarrollador Fullstack</p>

    <p class="text-sm sm:text-medium lg:text-lg mt-4 text-balance text-dark-700">
      <strong class="text-sky-400">+2 años de experiencia</strong>. Ingeniero de Sistemas informáticos.
      Desarrollador Fullstack especializado en aplicaciones web. <strong class="text-sky-400">Apasionado
      por crear soluciones innovadoras y eficientes.</strong> Experto en <strong>tecnologías modernas</strong>
      y en la implementación de buenas prácticasde desarrollo.

    </p>

    <a target="_blank" href="https://github.com/MisaelGG11" class="flex mt-5 w-full">
      <button type="button" class="text-white animated-border hover:bg-[#050708]/50 font-medium rounded-full text-sm w-full py-1.5 text-center flex justify-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30">
        <div class="flex items-center justify-center bg-[#070a25] w-full rounded-[8px] py-1.5">
          <span class="material-symbols-outlined text-[1.2rem] mr-1 bg-gradient-to-r from-blue-500 via-purple-500 to-blue-500 animate-text bg-clip-text text-transparent">download</span>
          <span class="bg-gradient-to-r from-blue-500 via-purple-500 to-blue-500 animate-text bg-clip-text text-transparent">Descarga mi CV</span>
        </div>
      </button>
    </a>

    <div class="grid grid-cols-2 lg:grid-cols-3 gap-4 mt-8">
      <a target="_blank" href="mailto:misael.gomez454@gmail.com">
        <button type="button" class="text-white border-[1px] border-slate-400  hover:bg-[#050708]/50 font-medium rounded-full text-sm w-full py-1.5 text-center flex justify-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30">
          Contáctame
        </button>
      </a>

      <a target="_blank" href="https://www.linkedin.com/in/misael-antonio-g%C3%B3mez-garc%C3%ADa-72127822b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
        <button type="button" class="text-white border-[1px] border-slate-400  hover:bg-[#050708]/50 font-medium rounded-full text-sm w-full py-1.5 text-center flex justify-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30">

          LinkedIn
        </button>
      </a>

      <a target="_blank" href="https://github.com/MisaelGG11">
        <button type="button" class="text-white border-[1px] border-slate-400  hover:bg-[#050708]/50 font-medium rounded-full text-sm w-full py-1.5 text-center flex justify-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30">

          Github
        </button>
      </a>
    </div>
  </div>
</div>
