<main class="flex flex-col items-center justify-center pb-8 bg-[#04081d] px-8">
  <c-header />
  <section id="presentation" class="custom-gradient text-white min-h-screen flex items-center justify-center w-full">
    <presentation-section></presentation-section>
  </section>
  @defer (on viewport) {
    <section class="max-w-3xl w-full pt-24" id="experience">
        <experience-section></experience-section>
    </section>
  } @placeholder {
    <p>Cargando experiencia...</p>
  }
  @defer (on viewport) {
    <section class="max-w-3xl w-full pt-24" id="projects">
        <projects-section></projects-section>
    </section>
  } @placeholder {
    <p>Cargando proyectos...</p>
  }
  @defer (on viewport) {
    <section class="max-w-3xl w-full pt-24" id="stack">
        <stack-section></stack-section>
    </section>
  } @placeholder {
    <p>Cargando stack...</p>
  }
  @defer (on viewport) {
    <section class="max-w-3xl w-full pt-24" id="stack">
        <c-footer />
    </section>
  } @placeholder {
    <p>Cargando footer...</p>
  }
</main>
